image-classification/datasets
image-classification/train
image-classification/*.h5
tf-hand-signs/*.png
tf-hand-signs/data
clustering/
regularization/
tf-skin-cancer/data
tf-skin-cancer/images
sandstone-segmentation/images
sandstone-segmentation/masks
*.hdf5
traditional-segmentation/images
traditional-segmentation/masks
traditional-segmentation/partial_labels
traditional-segmentation/*.jpg
traditional-segmentation/sandstone_model
